extends baseEmail

block content
  p Hi dear #{email},
  p You have been invited to watch the movie #[b #{movie} ]
  p at #[b #{sessionDate}] starts #[b #{sessionTime}] on cinema #[b #{cinema}]
  p Row #[b #{row}], seat #[b #{seat}]      
  p For any help, please don't hesitate to contact us!
  p George Georgiades
  p Nick Damiandes
  p Tom Diamantes