extends baseEmail

block content
  p Hi dear #{email},
  p Unfortunately we have made changes on a screening session you were are invited in.
  p New session info: 
  p Start Date #[b #{sessionDate}] 
  p Start time #[b #{sessionTime}] 
  p Cinema #[b #{cinema}]
  p Movie #[b #{movie}]
  p For any help, please don't hesitate to contact us!
  p George Georgiades
  p Nick Damiandes
  p Tom Diamantes